{% extends "StoreFrontendBundle::layout.html.twig" %}

{% block content %}
  
  <p>
  <div class="btn-group" role="group" >
    <a class="btn btn-default" href="{{ path('store_frontend_category_new') }}">
       <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
       Créer une categorie</a>
  </div>
  </p>


  {% if categories %}
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Visible ?</th>
      <th>Homepage ?</th>
      <th>Note</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
  {% for category in categories %}
    <tr>
        <td>
        <a href="{{ path('store_frontend_category_edit', { 'id': category.id } ) }}">
          {{category.title}}
        </a>
        </td>
        <td>{{category.description}}</td>
        <td>
          {% if category.visible %}
            <span style="color:#27ae60" class="glyphicon glyphicon-ok"></span>
          {% else %}
            <span style="color:#c0392b" class="glyphicon glyphicon-remove"></span>
          {% endif %}
        </td>
        <td>
          {% if category.cover %}
            <span style="color:#27ae60" class="glyphicon glyphicon-ok"></span>
          {% else %}
            <span style="color:#c0392b" class="glyphicon glyphicon-remove"></span>
          {% endif %}
        </td>
        <td>
        {{category.note}}
        </td>
        <td>
        <a href="{{ path('store_frontend_category_remove', { 'id': category.id } ) }}">
          Supprimer
        </a>
        </td>
    </tr>
  {% endfor %}
  {% else %}
        <div class="alert alert-info"> Dommage il n'y a pas de categorie</div>
  {% endif %}
    
  </tbody>
  </table>


{% endblock %}