{% extends "::base.html.twig" %}


{% block javascripts %}
    {{ parent() }}
    {# asset() pointe dans le dossier /web  #}
    <script src="{{ asset("js/frontendbundle/main.js") }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/frontendbundle/main.css') }}">
{% endblock %}

{% block body %}
    <div style="padding-top:60px"></div>
    <div class="container">
        
    <div class="jumbotron">
        <h1>Boutique d'atomes</h1>
        <p>Un atome est la plus petite partie d'un corps simple pouvant se combiner chimiquement avec un autre. La théorie atomiste, qui soutient l'idée d'une matière composée de « grains » indivisibles (contre l'idée d'une matière indéfiniment sécable), est connue depuis l'Antiquité.</p>
    </div>

    {# Inclus la vue partiel nav#}
    {{ include('StoreFrontendBundle:Main:_navbar.html.twig') }}

    {# Affiche les message flash contenu dan sle tableau des notice #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}


    {% block content %}
    {% endblock %}
    </div>

{% endblock %}








