{% block navbar %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('store_frontend_homepage') }}">Boutique</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('store_frontend_homepage') }}">Home</a></li>
                    <li><a href="{{ path('store_frontend_category') }}">Catégories</a></li>
                    <li><a href="">Produits</a></li>
                    <li><a href="{{ path('store_frontend_contact') }}">Contact</a></li>
                    <li><a href="{{ path('store_frontend_concept') }}">Concept</a></li>
                    <li><a href="{{ path('store_frontend_mention') }}">Mention Légale</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}