{% extends "StoreFrontendBundle::layout.html.twig" %}

{% block content %}

    <div class="page-hesader">
        <h1>Accueil</h1>
    </div>



    <p>
    <div class="btn-group" role="group" >
      <a class="btn btn-default" href="{{ path('store_frontend_product_new') }}">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
         Créer un produit</a>
      <a class="btn btn-default" href="{{ path('store_frontend_category_new') }}">
         <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
         Créer une categorie</a>
    </div>
    </p>

    <div>
        <div class="row">

        {% for product in products %}

          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{ product.title }}</h3>
              </div>
              <div class="panel-body">
              <p>{{ product.description }}</p>
              <p><strong>{{ product.cat }}</strong></p>
                <div class="btn-group">
                    <a class="btn btn-warning" href="{{ path('store_frontend_product_edit', {'id': product.id}) }}">
                        <span class="glyphicon glyphicon-pencil"></span> Editer ce produit</a>
                    <a class="btn btn-danger" href="{{ path('store_frontend_product_remove', {'id': product.id}) }}">
                        <span class="glyphicon glyphicon-remove"></span> Supprimer ce produit</a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
            <div class="alert alert-danger"> Attention il n'y a pas de produit </div>
        {% endfor %}
        </div>

    </div>

    <div>
        <h2>Categories</h2>
        <ul>
        {% for category in categories %}
            <li>{{ category.title }} ({{ category.description }})</li>
        {% else %}
            <li><div class="alert alert-danger"> Attention il n'y a pas de categoris</div></li>
         {% endfor %}
        </ul>
    </div>

{% endblock %}